<br />
<br />
<br />
<br />
<div class="center">


    @Html.ActionLink("Pregled zahtjeva", "Index", "Issue", null, new { @class = "btn btn-default btn-large dugme" })

  
    @Html.ActionLink("Kreiraj novi zahtjev", "Create", "Issue", null, new { @class = "btn btn-default btn-large dugme" })

@if (User.IsInRole("Event") || User.IsInRole("ProblemManager"))
{
   
    @Html.ActionLink("Pregled problema", "Index", "Problem", null, new { @class = "btn btn-default btn-large dugme" })
}
</div>
<br />
<br />
<br />
<br />