<br>
<div class="col-md-10">
    <br>
  
    @Html.ActionLink("Pregled zahtjeva", "Index", "Issue", null, null)
</div>
<br>

<div class="col-md-10">
  
    @Html.ActionLink("Kreiraj novi zahtjev", "Create", "Issue", null, null)
</div>

@if (User.IsInRole("Event") || User.IsInRole("ProblemManager"))
{
<br>
<div class="col-md-10">
   
    @Html.ActionLink("Pregled problema", "Index", "Problem", null, null)
</div>
}