<br>
<div class="col-md-10">
    @Html.ActionLink("Pregled ", "Index", "Issue", null, null)
</div>
<br>
<br>
<div class="col-md-10">
    @Html.ActionLink("Novi issue", "Create", "Issue", null, null)
</div>
